@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    37 Parsley street<br />
    Broccolli city<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

