@page
@model IndexModel
@{
    ViewData["Title"] = "Disaster Alleviation Foundation";
}

<div class="text-center" style="background-color:Purple; text-decoration-color:orange">
    <h1 class="display-4" >Welcome</h1>
    <p>
        The Disaster Alleviation foundation’s mission is to provide practical aid during disasters. They
        receive donations from various sources. Donations can be made by individuals, companies, other organisations, and even governments.
        Donations can be goods (clothes, non‐perishable foods, etc.) or monetary.
    </p>
</div>
